#container{
	text-align: left;
	padding: 0 5%;
}
.header{
	text-decoration: underline ;
}
table{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
table, tr, td, th{
	border-collapse: collapse;
	border: 1px solid #999999;
	padding: 1% 2%;
}
h3{
	font-weight: 100;
	width: 100%;
	text-decoration: underline;
}
.platform{
	text-align: center !important;
	border-bottom: 1px solid #333 !important;
	text-decoration: none !important;
}
p{
	margin: 1% 0;
}
li{
	margin: 1% 0;
}
.qa{
	list-style-type: none;
}
