<div id="container">
	<h2 class="platform">Platform Logistics | Terms & Conditions</h2>
	<h3>Shipping & Delivery</h3>
	<table>
		<tr>
			<th></th>
			<th>Hong Kong</th>
			<th>International</th>
		</tr>
		<tr>
			<td>Standard</td>
			<td>
				<ul>
					<li>7 Working Days</li>
					<li>Order below $500 - Shipping fee $60</li>
					<li>Order above $500 - Free</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>30 Working Days</li>
					<li>Order below $700 - Shipping fee $350</li>
					<li>Order above $700 - Free</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Express</td>
			<td>
				<ul>
					<li>3 Working Days</li>
					<li>Order below $1500 - Shipping fee $60 </li>
					<li>Order above $1500 – Free</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>14 Working Days</li>
					<li>Order below $1500 - Shipping fee $500</li>
					<li>Order above $3000 – Free</li>
				</ul>
			</td>
		</tr>
	</table>

	<h3>Cancellation & Return Policy</h3>
	<p class="header">Cancellation</p>
	<ol>
		<li>Request for cancellation needs to be done within 1 hour of order by contacting us via Contact Us or slash@seraphicstudios.com and including the following details for processing:
			<ul>
				<li>Order Number</li>
				<li>Item(s) that you would like to cancel and quantity (if applicable)</li>
				<li>Reason for cancellation – for cancellation requests over 1 hour of order, we will check if the order is already processed and re view case by case.</li>
			</ul>
		</li>
	</ol>
	<p class="header">Return</p>
	<ol>

		<li> If you have ordered the wrong product, you can return it for a 90% refund of the product amount. We will take a 10% handling fee and the shipping fee cannot be refunded. You will have to bear the shipping cost back to us. Only unopened and or unused
			items will be refunded.</li>
		<li>Shipping fee will be refunded if the item we sent you is defective or sent incorrectly due to our mistake</li>
		<li>Kindly ensure that the item(s) are securely packed to prevent any damage during transit. It is suggested to send the items by registered or insured mail to enable us to track the parcel.</li>
		<li>To request for return, kindly contact us via Contact Us or slash@seraphicstudios.com within 10 days of receiving the item and include the below details :
			<ul>
				<li>Order Number</li>
				<li>Item(s) that you would like to return and quantity (if applicable)</li>
				<li>Reason for return</li>
			</ul>
		</li>
		<li>Our staff will reply you with a authorization of return and items you will be required to include when sending the item(s) back to us.</li>
		<p>Once we have received the returned item(s), we will let you know by email.</p>
	</ol>
	<p class="header">Missing Item(s)</p>
	<ol>

		<li>Orders might be dispatched separately due to availability or the location of dispatch. You will be notified of each shipping orders through email. If there is an missing item from your order, we may have sent your items in a separate parcel. Please
			check the shipping order email from each part of your order to make sure that there are no missing items.</li>
		<li>If an item is missing, kindly contact us via ‘contact us’ or email at slash@seraphicstudios.com with the following information so that we can help resolve this issue as soon as possible for you:
			<ul>
				<li>Order Number</li>
				<li>Missing Item(s) Name/Code(s) and quantity (if applicable)</li>
			</ul>
		</li>
	</ol>
	<p class="header">Incorrect Item in Order</p>
	<ol>

		<li>If you have an incorrect item in your order, kindly contact us right away or email us at slash@seraphicstudios.com with the following details so we can amend your order prior to send out:
			<ul>
				<li>Order Number</li>
				<li>Item(s) name and or product number(s)</li>
				<li>Correct item(s) name and or product number(s) (if applicable)</li>
			</ul>
		</li>
	</ol>
	<p class="header">Incorrect Item Received</p>
	<ol>

		<li>If you have received an incorrect item in your order, kindly contact us right away or email us at slash@seraphicstudios.com with the following details so we can amend your order:
			<ul>
				<li>Order Number</li>
				<li>Item(s) name and or product number(s) of the received item</li>
				<li>Correct item(s) name and or product number(s) (if applicable)</li>
			</ul>
		</li>
		<li>Our staff will reply you with a authorization of return and items you will be required to include when sending the item(s) back to us.</li>
		<p>Once we have received the returned item(s), we will let you know by email.</p>
	</ol>
	<h3>Amendment of Order</h3>
	<ol>
		<li>If you would like to make any amendments to your order (delivery option, delivery address or payment method), please contact us within 1 hour of order via ‘contact us’ or slash@seraphicstudios.com. We may not be able to make any amendments once your
			order has been processed. Kindly include the following information when contacting us to process your amendment request quickly:
			<ul>
				<li>Order Number</li>
				<li>Amendment Request –Delivery option, delivery address, change of recipient or payment method</li>
				<li>Amendment details –New delivery option, new delivery address, new recipient, new preferred payment method</li>
			</ul>
		</li>
		<p>*For any amendment requests after 1 hour of order, we will review case by case depending whether the order has been processed yet</p>
	</ol>
	<h2 class="platform">Platform Logistics | Q & A</h2>
	<p class="header">Additional Offers</p>
	<ul class="qa">
		<li>If you would like to add any items to your delivery, you will need to make a new order.</li>
	</ul>
	<p class="header">Refund due to price change since order</p>
	<ul class="qa">
		<li>Unfortunately, for such case we will not refund the difference. Our price change is in response to stock and demand from customers.</li>
	</ul>

	<p class="header">Customs and Import Charges</p>
	<ul class="qa">
		<li>Slashs has no control over these charges and we can’t tell you what the cost would be, as customs policies and import duties vary widely from country to country.</li>
		<li> It might be a good idea to contact your local customs office for current charges before you order, so you are not surprised by charges you were not expecting.</li>
	</ul>
	<p class="header">Promo Codes</p>
	<ul class="qa">
		<li>Only one promo code is allowed to be used per order.</li>
		<li>No promo codes could be applied after completing the checkout process.</li>
	</ul>

</div>
