.pic{
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
img{
	width: 500px;
}
@media (max-width : 520px){
	img{
		width: 400px;
	}
}
@media (max-width : 400px) {
	img{
		width: 300px;
	}
}
