.wrapper{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	grid-auto-rows: minmax(80%, auto);
	margin: auto;
	padding: 20px;
	min-width: 70%;
	width: 70%;
}
.wrapper > div {
	padding: 1em;
	font-size: 1.5em;
}
#login {
	grid-column: 1 / 2;
	grid-row: 1 ;
}
#reg {
	grid-column: 2 / 2;
	grid-row: 1;
}
h2{
	padding: 0;
	margin: 0;
}
.error{
	color: #e20c0c;
	margin: 0;
	padding: 0;
}
input{
	display: block;
	margin: 10px auto;
	font-size: .9em;
	width: 100%;
}
input::-webkit-input-placeholder {
	font-family: 'Lato', sans-serif;
}

input:-moz-placeholder { /* Firefox 18- */
	font-family: 'Lato', sans-serif;
}

input::-moz-placeholder {  /* Firefox 19+ */
	font-family: 'Lato', sans-serif;
}

input:-ms-input-placeholder {
	font-family: 'Lato', sans-serif;
}
.btn{
	background: #333;
	border-radius: 0;
	color: #ffffff;
	width: 40%;
	padding: 20px auto;
	cursor: pointer;
	border: none;
	font-size: 1em;
	margin-top: 10px;
}
.btn:hover{
	background: #F7F7F7;
	color: #000000;
}
@media only screen and (max-width : 500px){
	.wrapper {
		padding: 0 !important;
		margin-top: 20px;
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: minmax(200px, auto);
		grid-gap: 0;
		width: 100%;
	}
	.wrapper h3{
		margin: 0;
	}
	#login{
		grid-column: 1 / 1;
		grid-row: 1;
	}
	#reg {
		grid-column: 1 / 1;
		grid-row: 2;
	}
	.btn{
		width: 60%;
	}
}
