<nav class="product-filter">
	<div class="sort">
		<div class="collection-sort">
			<label>Filter by:</label>
			<select>
				<option value="/">Masks</option>
				<option value="/">Brands</option>
				<option value="/">IDK</option>
			</select>
		</div>

		<div class="collection-sort">
			<label>Sort by:</label>
			<select>
				<option value="/">Alphabetically, A-Z</option>
				<option value="/">Alphabetically, Z-A</option>
				<option value="/">Price, low to high</option>
				<option value="/">Price, high to low</option>
			</select>
		</div>
	</div>
</nav>


<!-- Wanted to add the description in the modal with the button to add to cart -->
<section class="products">
	<div class="product-card" *ngFor="let product of products; let idx=index">
		<div class="product-image">
			<img src="{{product.thumbnail}}" alt="{{product.name">
		</div>
		<div class="product-info">
			<h5>{{product.brand}}</h5>
			<h5>{{product.name}}</h5>
			<h6>{{car.price | currency:USD:symbol}}</h6>
			<button (click)="toCart(idx)">Add To Cart</button>
		</div>
	</div>
</section>
