body {
	margin: 0 auto;
	width: 100%;
	max-width: 1240px;

}

/* Typography */

h5 {
	line-height: 1em;
}

h6 {
	color: #666;
	font-size: 14px;
}

/* Product Layout */

.product-filter {
	display: flex;
	padding: 10px 10px;
}

.sort {
	display: flex;
	align-self:flex-start;
}

.collection-sort {
 display: flex;
 flex-direction: column;
}

.collection-sort:first-child {
	padding-right: 20px;
}
label {
	color: #333;
	font-size: 10px;
	line-height: 2em;
	text-transform: uppercase;
}
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
	 border: none;
	 border-radius: 0;
	 border-bottom: 1px solid #333;
	 padding: 5px 20px 5px 10px;
   background: url('../../assets/img/chevron.png') no-repeat right #ffffff;
}
select::-ms-expand {
    display: none; /* hide the default arrow in ie10 and ie11 */
}
.products {
	display: flex;
	flex-wrap: wrap;
}

.product-card {
	display: flex;
	flex-direction: column;
	padding: 2%;
	/*Change how many products you want in a line */
	flex: 1 15%;
}

.product-image img {
	width: 61%;
}

.product-info {
	margin-top: auto;
	text-align: center;
}

@media ( max-width: 700px ) {

	.product-card {
		flex: 1 20%;
	}

	.products .product-card:first-child,
	.products .product-card:nth-child(2) {
		flex: 2 45%;
	}

}

@media ( max-width: 600px ) {

	.product-card {
		flex: 1 45%;
	}

}

@media ( max-width: 480px ) {

	h1 {
		margin-bottom: 20px;
	}

	.product-filter {
		flex-direction: column;
	}

	.sort {
		align-self: flex-start;
	}

}
/* target Internet Explorer 9 to undo the custom arrow */

@media screen and (min-width:0\0) {
    select {
        background-image:none\9;
        padding: 5px\9;
    }
}
