<nav class="product-filter">
	<div class="sort">
		<div class="collection-sort">
			<label>Filter by:</label>
			<select>
				<option value="/">Masks</option>
				<option value="/">Brands</option>
				<option value="/">IDK</option>
			</select>
		</div>

		<div class="collection-sort">
			<label>Sort by:</label>
			<select>
				<option value="/">Alphabetically, A-Z</option>
				<option value="/">Alphabetically, Z-A</option>
				<option value="/">Price, low to high</option>
				<option value="/">Price, high to low</option>
			</select>
		</div>
	</div>
</nav>

<section class="products">
	<div class="product-card">
		<div class="product-image">
			<img src="../../assets/img/mayu.jpg">
		</div>
		<div class="product-info">
			<h5>WONDER TREE</h5>
			<h5>MAYU MASK SHEET</h5>
			<h6>$4.20</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="../../assets/img/ROSE.png">
		</div>
		<div class="product-info">
			<h5>WONDER TREE</h5>
			<h5>ROSE MASK SHEET</h5>
			<h6>$4.20</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="../../assets/img/red.png">
		</div>
		<div class="product-info">
			<h5>WONDER TREE</h5>
			<h5>RED-GINSENG MASK SHEET</h5>
			<h6>$4.20</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="../../assets/img/mayu.jpg">
		</div>
		<div class="product-info">
			<h5>WONDER TREE</h5>
			<h5>MAYU MASK SHEET</h5>
			<h6>$4.20</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="../../assets/img/ROSE.png">
		</div>
		<div class="product-info">
			<h5>WONDER TREE</h5>
			<h5>ROSE MASK SHEET</h5>
			<h6>$4.20</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="../../assets/img/red.png">
		</div>
		<div class="product-info">
			<h5>WONDER TREE</h5>
			<h5>RED-GINSENG MASK SHEET</h5>
			<h6>$4.20</h6>
		</div>
	</div>
	<div class="product-card">
		<div class="product-image">
			<img src="../../assets/img/mayu.jpg">
		</div>
		<div class="product-info">
			<h5>WONDER TREE</h5>
			<h5>MAYU MASK SHEET</h5>
			<h6>$4.20</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="../../assets/img/ROSE.png">
		</div>
		<div class="product-info">
			<h5>WONDER TREE</h5>
			<h5>ROSE MASK SHEET</h5>
			<h6>$4.20</h6>
		</div>
	</div>

	<div class="product-card">
		<div class="product-image">
			<img src="../../assets/img/red.png">
		</div>
		<div class="product-info">
			<h5>WONDER TREE</h5>
			<h5>RED-GINSENG MASK SHEET</h5>
			<h6>$4.20</h6>
		</div>
	</div>
	<div class="product-card">
		<div class="product-image">
			<img src="../../assets/img/mayu.jpg">
		</div>
		<div class="product-info">
			<h5>WONDER TREE</h5>
			<h5>MAYU MASK SHEET</h5>
			<h6>$4.20</h6>
		</div>
	</div>

</section>
