<div class="container">
	<div id="gallery">
		<div id="thumbs">
			<ul>
				<li><img src="{{product.thumbnail}}" alt=""></li>
				<li><img src="../../assets/img/red.png" alt=""></li>
				<li><img src="../../assets/img/ROSE.png" alt=""></li>
				<li><img src="../../assets/img/set.jpg" alt=""></li>
			</ul>
		</div>
		<div id="panel">
			<img id="largeImage" src={{product.thumbnail}} />
			<div id="info">
				<p>{{product.price | currency:HKD:symbol}}</p>

				<form (submit)="addItem()" #addItemForm="ngForm">
					<p> Quantity :
						<input type="number" name="quantity" placeholder="{{product.quantity}}" [(ngModel)]="newItem.quantity" #quantity="ngModel"></p>
					<p>
						<button type="submit" name="button">Add to Cart</button>
				</form>
			</div>
		</div>
	</div>



	<div id="desc">
		<p>{{product.name}}</p>
		<p>{{product.desc}}</p>
	</div>
</div>
