<div class="container">
	<div id="gallery">
		<div id="thumbs">
			<img src="../../assets/img/ROSE.jpg" alt="">
			<img src="{{product.thumbnail}}" alt="">
			<img src="../../assets/img/red.png" alt="">
			<img src="../../assets/img/ROSE.png" alt="">
			<!-- <span class="prev"><</span>
			<span id="next">></span> -->
		</div>
		<div id="panel">
			<img id="largeImage" src={{product.thumbnail}} />
		</div>
		<div id="info">
			<p>{{product.price}}</p>

			<form (submit)="addItem()" #addItemForm="ngForm">
				<p> Quantity :
					<input type="number" name="quantity" [(ngModel)]="newItem.quantity" #quantity="ngModel"></p>

				<p>
					<button type="submit" name="button">Add to Cart</button>
			</form>
		</div>
	</div>



	<div id="desc">
		<p>{{product.name}}</p>
		<p>{{product.desc}}</p>
	</div>
</div>
