#thumbs {
	width: 22%;
	height: 150px;
	display: inline-block;
	float: left;
	justify-content: space-between;
	/* background: linear-gradient(180deg, rgba(224,224,224,.2),rgba(255,255,255,.3), rgba(255,255,255,.4)); */
}
#thumbs img {
	max-width: 100%;
	height: 100px;
	margin: 0 auto;
	cursor: pointer;
	display: block;
}
#thumbs img:hover {
	opacity: .7;
}
.container {
  max-width: 100%;
  margin: 40px 3%;
}

.container > div {
  border-radius: 5px;
  padding: 1em;

}.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(450px, auto);
}
.gallery {
  grid-column: 1 / 2;
  grid-row: 1 ;
}
.desc {
  grid-column: 2 / 2;
  grid-row: 1;
}
#panel{
	text-align: center;
	width: 78%;
	display: inline-block;
}
#largeImage{
	width: 150px;

}
#largeImage img{
	max-width: 100%;
	max-height: 100%;
}
#info{
	display: block;
	margin-left: 19%;
}
@media only screen and (max-height : 600px){
}
@media only screen and (max-width : 700px){
}
