<div class="container">
	<div id="gallery">
		<div id="panel">
			<img id="largeImage" src={{product.thumbnail}} />
		</div>
		<div id="thumbs">
			<span class="prev"><</span>
			<img class="thumbnail" src="../../assets/img/ROSE_.jpg" alt="1st image description" />
			<img class="thumbnail" src="../../assets/img/ROSE.png" alt="2nd image description" />
			<img class="thumbnail" src="../../assets/img/red.png" alt="3th image description" />
			<img  class="thumbnail" src="../../assets/img/ROSE.jpg" alt="4th image description" />
			<span id="next">></span>
		</div>
		<div id="info">
			<p>{{product.price}}</p>

			<button type="button" name="button">Add to Cart</button>
		</div>
	</div>



	<div id="desc">
		<h1>{{product.name}}</h1>
			<p>{{product.desc}}</p>
	</div>
</div>
