<h1 id="header">Checkout</h1>
<div id="container">
	<div id="paymentInfo">

	</div>
	<div id="checkoutInfo">
		<div id="itemCount">
			<p class="left">69 Item(s)</p>
			<p class="right edit" [routerLink]="['/cart']">Edit</p>
		</div>
		<div id="itemContainer">
			<div class="items" *ngFor=" let item of orders; let idx=index ">
				<div id="checkoutImage">
					<img src="{{ item.thumbnail}}">
				</div>
				<div id="itemInfo">
					<p>${{item.price}}</p>
					<p>{{item.name}} by: {{item.brandName}}</p>
					<p>Quantity: {{item.quantity}}</p>
					<p>Total: ${{item.price*item.quantity}}</p>
				</div>
			</div>
		</div>
		<div id="total">
			<p class="left">Total to Pay:</p>
			<p class="right">$420</p>
		</div>
	</div>
</div>



<form action="your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_X2OJCS4UnTm7Ytui37KZgxzJ"
    data-amount="999"
    data-name="Slash"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="hkd">
  </script>
</form>
