#header{
	color: #ffffff;
	font-size: 1em;
	padding: 5px;
	background: #181818;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#container{
	width: 80%;
	text-align: left;
	display: flex;
	overflow: scroll;
}
.responsiveCheckout{
	display: none !important;
}
.dropDown{
	display: block !important;
}
.summary{
	display: none;
	cursor: pointer;
}
#paymentInfo{
	height: auto;
	text-align: center;
	flex-grow: 6;
	height: 450px;
	overflow: scroll;
	margin-top: 1%;
}
#checkoutInfo{
	flex-grow: 1;
	/* background: linear-gradient(#FFFFFF, #ffffff, #F5F5F5); */
	padding: 0 2%;
	height: 430px;
	text-align: left;
	margin-top: 1%;
}
.checkoutHeaders{
	background: #181818 !important;
	width: 98%;
	color: #ffffff !important;
	margin: 0;
}
#itemCount{
	font-size: 1em;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	padding: 0;
}
.right{
	color: #000000 !important;
	flex-grow: 1;
	text-align: right;
}
.left{
	color: #000000 !important;
	flex-grow: 1;
	text-align: left;
}
#itemContainer{
	height: 250px;
	overflow: scroll;
	margin: 0;
}
.items{
	padding: 2%;
	height: 130px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
#checkoutImage{
	flex-grow: 1;
	height: 120px;
}
#checkoutImage img{
	max-width: 100%;
	max-height: 100%;
}
#itemInfo{
	flex-grow: 2;
	font-size: .8em;
}
#itemInfo p{
	display: block;
	padding: 0;
	line-height: .7;
	color: #000000 !important;
}
.edit{
	cursor: pointer;
	text-decoration: underline;
}
#total{
	display: flex;
}
#total p{
	color: #ffffff !important;
	font-size: 1.2em;
	background: #181818;
	padding: 1%;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#button{
	border: 1px solid #181818 !important;
	font-size: 1.1em;
	color: #ffffff;
	background-color: #181818;
	cursor: pointer;
	width: 82%;
	margin: auto;
	padding: 5px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.shipDiv{
	/* border: 1px solid #dcdcdc; */
	padding: 0;
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 1.1em;
}
h3{
	margin: 0 auto;
	color: #181818 !important;
	font-size: 1.1em;
	background: #f5f5f5;
	padding: 1%;
	width: 80%;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.infoDiv{
	width: 61%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content:space-around;
	margin: auto;
}
.input{
	width: 45%;
	margin: auto;
}
.cityInput {
	width: 33%;
	margin: auto;
}
.stateInput{
	width: 19%;
	margin: auto;
}
::placeholder {
    color: #181818;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #181818;
}

::-ms-input-placeholder {
    color: #181818;
}
.address{
	width: 58%;
	display: block;
	margin: 1% auto;
}
select{
	display: block;
	margin: 1% auto;
	font-size: .8em;
}
input{
	font-size: .8rem;
	margin: 1% auto;
}
#code{
	width: 50%;
	margin: auto;
}
#promo{
	background: #f5f5f5;
	color: #181818;
	width: 51%;
	padding: 5px;
	margin: auto;
}
#login{
	cursor: pointer;
}
#login:hover{
	color: #181818;
	text-decoration: underline;
}
@media only screen and (max-width : 1010px){
	#container{
		width: 95%;
		margin: auto;
	}
}
@media only screen and (max-width : 875px){
	#header{
		background: #ffffff;
		border-bottom: 1px solid #878787;
		color: #181818;
		font-size: 1.1em;
	}
	.infoDiv{
		width: 91%;
		display: block;
	}
	#promo{
		width: 91%;
	}
	input{
		display: block;
		width: 90% !important;
		flex: none;
	}
	.address{
		width: 82% !important;
	}
}
@media only screen and (max-width : 750px){
	#container{
		display: block;
	}
	.summary{
		display: block;
	}
	#checkoutInfo{
		display: none;
	}
	select{
		font-size: .8em;
	}
	#responsiveCheckout{
		display: block;
		text-align: center;
		width: 80%;
		margin: auto;
	}
	.checkoutHeaders{
		background: #ffffff !important;
		color: #181818 !important;
		text-align: center;
	}
	#itemContainer{
		height: 150px;
	}
	#total p{
		background: #ffffff !important;
		color: #181818 !important;
	}
}
