
<h1 id="header">Shopping Cart</h1>
<div id="container">
	<!-- *ngIf="cart < 1" -->
	<!-- <h2 class="empty">Your Shopping Cart is Empty.</h2> -->
	<!-- *ngIf="cart > 0" -->
	<div id="wrapper">
		<div class="items" *ngFor=" let item of orders; let idx=index">
				<div class="img">
					<img class="img" src="{{item.thumbnail}}" alt={{item.name}}>
				</div>
				<div class="info">
					<h3>{{item.name}} by {{item.brandName}}</h3>
					<p>in Stock</p>
					<form (submit)="deleteItem(idx)" #deleteItemForm="ngForm">
						<button type="submit" >delete</button>
					</form>
				</div>
				<p class="price">${{item.price}}</p>
				<div class="quantity">
					<p>Quantity</p>
					<form (submit)="updateItem(idx)" #updateItemForm="ngForm">
						<input type="number" name="quantity" value="{{item.quantity}}" [(ngModel)]="item.quantity" #quantity="ngModel">
						<button type="submit" >update</button>
					</form>
				</div>
		</div>



	</div>
	<div id="subtotal">
		<h3>Subtotal {{totalItem}} item(s): ${{totalPrice}}</h3>
		<button routerLink="/checkout">Proceed to Checkout</button>
	</div>
</div>
