<div class="header">
	<img id="logo" src="assets/img/slash_logo2_112217.png" alt="slash logo">
	<nav class="nav" id="myTopnav">
		<a [routerLink]="['']" class="navLinks active">Home</a>
		<a [routerLink]="['products']" class="navLinks">All Products</a>
		<div class="dropdown">
			<a [routerLink]="['products']" class="navLinks">Shop Brands</a>

			<div class="dropdown-content">
				<a [routerLink]="['products']" class="navLinks" *ngFor=" let brand of brands" > {{brand.name}} </a>
			</div>

		</div>
		<a class="navLinks" *ngIf="!session" [routerLink]="['login']">Sign In</a>
		<a class="navLinks" *ngIf="session" (click)="logout()">Sign Out</a>
		<a class="navLinks" [routerLink]="['admin']"> Admin </a>

		<a [routerLink]="['cart']" class="navLinks cartLink"><img id="cart" src="assets/img/cart.svg"></a>
		<a href="javascript:void(0);" class="icon navLinks" (click)="dropDown()">&#9776;</a>
	</nav>
</div>
<div class="container">
	<router-outlet></router-outlet>
</div>
<div id="bottom">
	<div class="social">
		<a href="https://www.instagram.com/slashss/"><img id="ig" src="assets/img/instagram.png"></a>
		<a href=""><img class="socialLinks face" src="assets/img/facebook.png"></a>
		<a href=""><img class="socialLinks" src="assets/img/weibo.png"></a>
	</div>
	<div id="links">
		<a [routerLink]="['aboutus']" class="navLinks">About Us</a>
		<a [routerLink]="['shipping']" class="navLinks">Shipping Policy</a>
		<a [routerLink]="['media']" class="navLinks">Media</a>
	</div>
</div>
